.header-default {
    margin-bottom: 0;
    background-color: rgb(128, 0, 40);
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif,"websafe";
    font-weight: normal;
    font-size: 130%;
    padding: 0px;
}

.header-service {
    background-color: rgb(112,91,91);
}
.header-about{
    background-color: rgb(34,67,58);
}
.header-fees {
    background-color: rgb(114,114,38);
}
.header-contact {
    background-color: rgb(114,38,38)
}
.header-events {
    background-color: rgb(f,f,f)
}

a {
    color: #fbfbe5;
    text-decoration: none;
    outline:none;
}

a:visited {
    background-color: rgb(235,97,61) !important;
    outline: none;
}
.active {
    background-color: rgb(235,97,61) !important;
    outline: none;
}
a:active {
    outline: none;
}

.title {
    height: 400px;
}

.title-default {
    padding-top: 80px;
    text-align: center;
    margin-top: 0;
    height: 400px;
    color: #fbfbe5;
    background-color: rgb(184,0,71);
    font-family: "Alegreya Sans",sans-serif,"google";
    font-size: 25px;
    line-height: 1.5;
}
.title-service {
    background-color: rgb(179,159,133)
}
.title-about {
    /*background-color: rgb(153,0,0);*/
    background-color: rgb(0,102,102);
}
.title-fees {
    background-color: rgb(179,179,0)
}
.title-contact {
    background-color: rgb(179,42,42)
}
.title-events {
    background-color: rgb(f,f,f)
}

.subTitle{
font-size: 110%;;
}

.nav-item {
    padding: 18px;
}
