<nav class="navbar navbar-expand-lg header-default" [ngClass]="headerClass">
  <div class="container-fluid">
    <ul class="navbar-nav ms-auto">
      <li class="navbar-nav"><a class="nav-item" routerLinkActive="active" routerLink="home">Home</a></li>
      <li class="navbar-nav"><a class="nav-item" routerLinkActive="active" routerLink="services">Service</a></li>
      <li class="navbar-nav"><a class="nav-item" routerLinkActive="active" routerLink="about">About Me</a></li>
      <li class="navbar-nav"><a class="nav-item" routerLinkActive="active" routerLink="fees">Fees</a></li>
      <li class="navbar-nav"><a class="nav-item" routerLinkActive="active" routerLink="contact">Contact</a></li>
    </ul>
  </div>
</nav>
  <div class="title title-default" [ngClass]="titleClass">
      <a routerLink="home">
        <img src="../../assets/image.png" alt="praxis">
      </a>
    <div>
      <a routerLink="home">
        <p>Private Therapy Clinic Michaela Brisbane & Melbourne</p>
        <span class="subTitle">MOVEMENT | COMPANY | IMPULSE</span>
      </a>
    </div>
  </div>