.footer {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    height: 90px;
    color :rgb(102, 102, 102);
    background-color: rgb(251, 251, 229);
    padding: 30px;
    a {
        color: #963;
        font-size: 13px;
        text-decoration: underline;
    }
}