<div class="main-image">
    <img class="img-responsive" src="assets/about.jpg">
</div>
<div class="main-content">
    <div class="main-header">
        <h2>Michaela</h2>
    </div>
    <div class="main-text">
        Sed egestas, ante et vulputate volutpat, eros pede semper
         est, vitae luctus metus libero eu augue. Morbi purus
          libero, faucibus adipiscing, commodo quis, gravida id,
           est. Sed lectus. Praesent elementum hendrerit tortor.
            Sed semper lorem at felis. Vestibulum volutpat, lacus
             a ultrices sagittis, mi neque euismod dui, eu
              pulvinar nunc sapien ornare nisl. Phasellus pede
               arcu, dapibus eu, fermentum et, dapibus sed, urna.
        <div class="main-list">
          <strong>Qualifications</strong>
          <p class="padding-5"></p>
          <ul>
            <li>
              Fusce lobortis lorem at ipsum semper sagittis.

            </li>
          </ul>
          <ul>
            <li>
              Vivamus molestie gravida turpis.
            </li>
          </ul>
          <ul>
            <li>
              Donec quis dui at dolor tempor interdum.
            </li>
          </ul>
          <ul>
            <li>
              Cras iaculis ultricies nulla.
            </li>
          </ul>
          <ul>
            <li>
              Ut aliquam sollicitudin leo.
            </li>
          </ul>
          <ul>
            <li>
              Vestibulum commodo felis quis tortor.
            </li>
          </ul>
          <ul>
            <li>
              Integer vitae libero ac risus egestas placerat.
            </li>
          </ul>
          <ul>
            <li>
              Fusce pellentesque suscipit nibh.
            </li>
          </ul>
          <ul>
            <li>
              Praesent placerat risus quis eros.
            </li>
          </ul>
          <ul>
            <li>
              Vivamus vestibulum nulla nec ante.
            </li>
          </ul>
    </div>
    <div>
      <p class="padding-5"></p>
      <strong>Experience</strong>
      <p class="padding-5"></p>
      <div>
        Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo,
         nec dapibus tortor nibh sed augue. Integer eu magna sit amet metus 
         fermentum posuere. Morbi sit amet nulla sed dolor elementum imperdiet.
          Quisque fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque adipiscing eros ut libero. Ut condimentum mi vel tellus. Suspendisse laoreet. Fusce ut est sed dolor gravida convallis. Morbi vitae ante. Vivamus ultrices luctus nunc. Suspendisse et dolor. Etiam dignissim. Proin malesuada adipiscing lacus.
           Donec metus. Curabitur gravida.
      </div>
      <p class="padding-20"></p>
      <strong>Fusce lobortis lorem at ipsum semper sagittis.</strong>
    </div>
</div>
