<div class="main-image"  style="display: block;
    margin: 0 auto;">
    <img class="img-responsive" src="assets/cherry.jpg">
</div>
<div class="main-content">
    <div class="main-header">
        <h2>Legal Information</h2>
    </div>
    <div class="main-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nulla unde labore cumque,
        mollitia totam fuga inventore dolorem maxime nostrum! Maxime similique quibusdam itaque
        rerum vel eum sit eligendi consequuntur!

        <div class="main-list">
            <ul>
                <li>
                    <a href="">
                        Nunc dignissim risus id metus.
                    </a>
                </li>
                <li>
                    <a href="">
                        Cras ornare tristique elit.
                    </a>
                </li>
                <li>
                     <a href="">
                        Vivamus vestibulum nulla nec ante.
                    </a>                   
                </li>
                <li>
                    <a href="">
                        Praesent placerat risus quis eros.
                    </a>
                </li>
                <li>
                   <a href="">
                        Fusce pellentesque suscipit nibh.
                    </a>
                </li>
            </ul>
        </div> 
        <div>
            Donec nec justo eget felis facilisis fermentum. Aliquam
            porttitor mauris sit amet orci. Aenean dignissim
            pellentesque felis.
        </div>
    </div>
    <p class="padding-20"></p>
</div>

