<div class="main-image"  style="display: block;
    margin: 0 auto;">
    <img class="img-responsive" src="assets/cherry.jpg">
</div>
<div class="main-content">
    <div class="main-header">
        <h2>Sitemap</h2>
    </div>
    <div class="main-text">
        <div class="main-list">
            <ul>
              <li>
                <a routerLink="/home">Home</a>
              </li>
              <li>
                <a routerLink="/services">Service</a>
                  <ul>
                    <li>
                        <a href="">
                            Nunc dignissim risus id metus.
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Cras ornare tristique elit.
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Vivamus vestibulum nulla nec ante.
                        </a>                   
                    </li>
                    <li>
                        <a href="">
                            Praesent placerat risus quis eros.
                        </a>
                    </li>
                    <li>
                      <a href="">
                            Fusce pellentesque suscipit nibh.
                        </a>
                    </li>
                  </ul>
                </li>
                <li><a routerLink="/about">About me</a></li>
                <li><a routerLink="/fees">Fees</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </div> 
    </div>
    <p class="padding-20"></p>
</div>

