<div class="main-image">
  <div>
    <img style="display: block; margin: 0 auto;" src="assets/pattern.jpg">
  </div>
</div>
<div class="main-content">
    <div class="main-header">
        <h2>Contact</h2>
    </div>
    <div class="main-text">
      <strong>Michaela</strong>
      <p class="padding-5"></p>
      Mariners Cove Junction<br>
      274 Anzinger Park<br>	
      2435 Rybache
      <p class="padding-20"></p>
      Integer vitae liber<br>	
      6431 Basil Junction<br>
      45768 Sobrosa
      <p class="padding-20"></p>
      Phone: 750-274-0390<br>	
      E-mail:ematuskiewicz1@theglobeandmail.com<br>
      <p class="padding-20"></p>
      or use the form:<br>
      <form #messageForm="ngForm" (ngSubmit)="sendMessage(messageForm)">

          <div class="form-group">
            <label class="required" for="name">Name:</label>
            <input required ngModel #name="ngModel" type="text" class="form-control" id="name" name="name">
          </div>
          <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
            <div>Please enter you name.</div>
          </div>

          <div class="form-group">
            <label class="required" for="email">Email address:</label>
            <input required ngModel #email="ngModel"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" type="email" class="form-control" id="email" name="email">
          </div>
          <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
            <!-- <div *ngIf="email.errors.required">Please enter your email.</div> -->
            <!-- <div *ngIf="email.errors.pattern">Please use a valid email.</div> -->
          </div>

          <div class="form-group">
            <label class="required" for="message">Your message:</label>
            <textarea required ngModel #message="ngModel" class="form-control" rows="5" id="message" name="message"></textarea>
          </div>
          <div class="alert alert-danger" *ngIf="message.touched && !message.valid">Please don't forget your message.</div>

          <button type="submit" class="btn btn-primary" [disabled]="!messageForm.valid">Submit</button>
        </form>
    </div>
</div>
