<div class="main-image">
    <img class="img-responsive" src="assets/praxis.jpg">
</div>
<div class="main-content">
    <div class="main-header">
        <h2>Fees</h2>
    </div>
    <div class="main-list">
        <table>
          <tr>
            <th>Service</th>
            <th>Price</th>
          </tr>
          <tr>
            <td>Single therapy</td>
            <td>$xx.xx</td>
          </tr>
          <tr>
            <td>Couple therapy</td>
            <td>$xx.xx</td>
          </tr>
          <tr>
            <td>Group therapy</td>
            <td>$xx.xx</td>
          </tr>
          <tr>
            <td>Single coaching</td>
            <td>$xx.xx</td>
          </tr>
          <tr>
            <td>Supervision</td>
            <td>$xx.xx</td>
          </tr>
        </table>
      </div>
      <div>
      <div class="main-header">
          <h2>Agreements</h2>
      </div>
                Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo,
                nec dapibus tortor nibh sed augue. Integer eu magna sit amet metus 
                fermentum posuere. Morbi sit amet nulla sed dolor elementum imperdiet.
                Quisque fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque adipiscing eros ut libero. Ut condimentum mi vel tellus. Suspendisse laoreet. Fusce ut est sed dolor gravida convallis. Morbi vitae ante. Vivamus ultrices luctus nunc. Suspendisse et dolor. Etiam dignissim. Proin malesuada adipiscing lacus.
                Donec metus. Curabitur gravida.
            <p class="padding-5"></p>
      </div>
</div>