
.main-content {
    position: relative;
    top: -30px;
    max-width: 1000px;
    background: white;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 3px 3px 20px #888888;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .main-content {
        max-width: 90%;
    }
}