<header></header>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-7  main-content">
      <router-outlet></router-outlet>
    </div>
    <div class="col-xs-12 col-sm-2"><sidebar></sidebar></div>
  </div>
  <div class="row footer">
    <footer></footer>
  </div>
</div>