
<div class="main-content">
    <div class="main-header">
        <h2>Events</h2>
    </div>
    <div class="eventDiv" *ngFor="let event of events; let i = index">
      <div class="title">{{ event.title }}</div>
      <div class="date">{{ event.date }}, {{ event.time }}: {{ event.location }}</div>
      <div  *ngIf="!event.show" class="more"><a (click)="showEvent(i)">...more</a></div>
      <div class="content" *ngIf="event.show">{{ event.content }}</div>
      <div  *ngIf="event.show" class="more"><a (click)="showEvent(i)">less</a></div>
      
    </div>
</div>
