.eventDiv {
    padding: 10px;
}

.title {
    font-weight: bold;
    font-size: 80%;
}

.date {
    font-size: 50%;
}

.content {
    font-size: 80%;
    padding-top: 5px;
}


 a {
        color: #963;
        font-size: 13px;
        text-decoration: underline;
    }