<div class="main-image"  style="display: block;
    margin: 0 auto;">
    <img class="img-responsive" src="assets/orchid.jpg">
</div>
<div class="main-content">
    <div class="main-header">
        <h2>Privacy</h2>
    </div>
    <div class="main-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nulla unde labore cumque,
        mollitia totam fuga inventore dolorem maxime nostrum! Maxime similique quibusdam itaque
        rerum vel eum sit eligendi consequuntur!

        
        Praesent et sagittis ante, non condimentum erat. Duis sit amet ipsum id massa tincidunt cursus efficitur eget justo.
        Sed eget risus interdum, feugiat felis eget, consectetur lacus. Nulla tincidunt sagittis nisi. Praesent dapibus enim in neque egestas euismod. Phasellus vitae quam tortor. Praesent ac bibendum augue, sit amet tristique nunc. Sed quis fermentum elit, quis placerat ante. Fusce sit amet lorem pharetra, dictum mi quis, finibus ex. Praesent euismod sapien magna, laoreet venenatis orci cursus a. Mauris facilisis, ipsum a elementum consequat, neque eros gravida justo, a egestas arcu nulla id purus. Ut et justo eu velit bibendum malesuada nec a massa. Suspendisse potenti.

        Phasellus ultrices pellentesque lorem at fermentum. Cras ipsum lacus, vestibulum eu leo eu, vehicula tempus nisi.
        Sed ac nulla id mi aliquet dignissim sed non tortor. Curabitur sed justo commodo, venenatis magna eget, varius 
        tellus. Maecenas placerat purus non pulvinar gravida. Fusce ligula diam, posuere non ex auctor, hendrerit tincidunt turpis. Maecenas semper dolor id magna rutrum, non blandit urna fringilla. Pellentesque leo ipsum, ornare non metus eu, lacinia pretium magna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

        Aliquam feugiat diam libero, sed bibendum risus euismod sed. Pellentesque facilisis imperdiet elementum. In risus
        nunc, convallis eu pulvinar vitae, dapibus vitae nunc. Proin auctor vestibulum dolor, vel dapibus magna efficitur
        non. Ut est mauris, semper eget ullamcorper quis, tincidunt vitae felis. Nulla cursus malesuada turpis vitae
        semper. Duis eget lorem sed ligula blandit varius a id libero. Donec aliquam a nisi et interdum. Nulla nec sapien rhoncus, scelerisque augue sed, porttitor nunc. Nunc turpis justo, pharetra eu lobortis quis, tempor vitae eros. Cras vitae nibh arcu. Praesent iaculis sem nec erat dapibus, eu pellentesque lorem viverra. Praesent turpis ex, lacinia eget pellentesque ac, auctor vitae massa. Phasellus at bibendum libero.

        Aliquam dolor lorem, faucibus non mollis vitae, semper id felis. Cras efficitur nisi ut nisi mollis, ut viverra
        nisl lacinia. Vestibulum pellentesque metus dui, a dignissim nunc tempus ac. Curabitur a cursus arcu. Sed 
        consectetur lacus felis. Donec purus risus, finibus ut quam eget, tristique commodo est. Aliquam dignissim
        posuere auctor. Integer pretium sodales purus, volutpat luctus magna lobortis nec. Nulla vel fermentum 
        lectus. Nam ac lacus ligula. In luctus nibh vitae laoreet maximus. Suspendisse potenti. Fusce pellentesque 
        felis vel euismod sagittis. Ut pretium imperdiet odio ac mollis
    </div>
    <p class="padding-20"></p>
</div>
