/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    background-color: #fafafa;
    font-family: "Fira Sans",sans-serif;
      color: #555F61;
}

.main-image {
    text-align: center;
}

.img-responsive {
    width: 100%;
}

.main-header {
    font-size: 30px;
    color: #963;
    margin: 30px 0px 25px 0px;
}

.main-content {
    font-size: 17px;
}

.main-list {
    margin: 30px 0px 30px 0px;
    a {
        color: #963;
    }
}

.padding-20 {
    padding: 20px;
}

.padding-5 {
    padding: 5px;
}