<div class="main-image">
    <img class="img-responsive" src="assets/pillows02.jpg">
</div>
<div class="main-content">
    <div class="main-header">
        <h2>Welcome</h2>
    </div>
    <div class="main-text">
        Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo,
        nec dapibus tortor nibh sed augue. Integer eu magna sit amet metus fermentum
        posuere. Morbi sit amet nulla sed dolor elementum imperdiet. Quisque fermentum.
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
            mus. Pellentesque adipiscing eros ut libero. Ut condimentum mi vel tellus.
            Suspendisse laoreet. Fusce ut est sed dolor gravida convallis. Morbi vitae 
            ante. Vivamus ultrices luctus nunc. Suspendisse et dolor. Etiam dignissim.
            Proin malesuada adipiscing lacus. Donec metus. Curabitur gravida.

        <div class="main-list">
            <strong>Integer vitae libero ac risus egestas placerat:</strong>
            <ul>
                <li>
                  Fusce lobortis lorem at ipsum semper sagittis.
                </li>
                <li>
                   Vivamus molestie gravida turpis.
                </li>
                <li>
                   Donec quis dui at dolor tempor interdum.
                </li>
                <li>
                   Cras iaculis ultricies nulla.
                </li>
                <li>
                  Ut aliquam sollicitudin leo.
                </li>
            </ul>
        </div>
        <div>
                Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo,
                nec dapibus tortor nibh sed augue. Integer eu magna sit amet metus 
                fermentum posuere. Morbi sit amet nulla sed dolor elementum imperdiet.
                Quisque fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque adipiscing eros ut libero. Ut condimentum mi vel tellus. Suspendisse laoreet. Fusce ut est sed dolor gravida convallis. Morbi vitae ante. Vivamus ultrices luctus nunc. Suspendisse et dolor. Etiam dignissim. Proin malesuada adipiscing lacus.
                Donec metus. Curabitur gravida.
            <p class="padding-5"></p>
            <strong>Fusce lobortis lorem at ipsum semper sagittis.</strong>
        </div>
</div>
